@import '~compass-mixins/lib/compass/css3';

:host {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
  @include align-items(center);

  h1 {
    font-size: 42px;
    font-weight: normal;
  }

  p {
    font-size: 15px;
  }
}
