html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 25px;
}


.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.main-container {
  min-height: 100%;
}
